/* --------------------------------------------------------- 
Reset */

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* --------------------------------------------------------- 
Random variabler */

.hide {
  display: none;
}

.lille_pil {
  width: 10px;
  height: auto;
  margin-bottom: var(--spacing-sm);
}

/* --------------------------------------------------------- 
// Footer, Header + knapper */

header {
  width: 100%;
  height: 60px;
  position: fixed;
  padding: var(--spacing-xs);
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
}

@media (min-width: 768px) {
  header {
    padding: var(--spacing-columns);
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  position: relative;
}

.clean-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-columns);
}

.footer-item {
  text-align: center;
}

.filter_galleri {
  margin-top: var(--spacing-xxl);
  text-align: center;
}

@media (min-width: 768px) {
  .filter_galleri {
    margin-top: var(--spacing-2xxl);
  }
}

/* --------------------------------------------------------- 
Home: Portfolio */

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.portfolio-item {
  position: relative;
  text-align: left;
  overflow: hidden;
}

.portfolio-item img {
  height: 500px;
  width: auto;
  display: block;
}

.portfolio-item p.beskrivelse {
  /* position: absolute; placeres neden for billedet*/
  bottom: 10px;
  color: black;
  font-size: 1rem;
  z-index: 10;
}

@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .portfolio-item {
    padding: 0;
  }

  .portfolio-item img {
    width: 100%;
    height: auto;
  }

  .portfolio-item p.beskrivelse {
    bottom: 10px;
    left: 10px;
    font-size: 1.5rem;
  }
}

/* ------------------------------------------------------------------------ // 
Site: 01 Website */

.case_container {
  padding: var(--spacing-xs);
  margin-top: var(--spacing-xxl);
}

@media (min-width: 768px) {
  .case_container {
    padding: var(--spacing-columns);
  }
}

/* ---------------- Hero galleri */

.hero_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.hero_venstre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color-04);
  text-align: center;
  color: var(--accent-color-03);
}

.hero_venstre img {
  width: 80%;
}

.hero_højre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-color);
}

.hero_højre img {
  width: 80%;
  max-width: 550px;
}

@media (max-width: 768px) {
  .hero_galleri {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .hero_venstre {
    padding: 2rem;
  }
}

/* -------------------- Temabeskrivelse */
.tema_intro {
  text-align: left;
}

.tema_foldud {
  padding: var(--spacing-columns);
  margin-top: var(--spacing-columns);
  margin-bottom: var(--spacing-xl);
}

@media (min-width: 768px) {
  .tema_foldud {
    margin-top: var(--spacing-xl);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
  }

  .tema_løsning {
    max-width: 700px;
  }
}

.tema_meta {
  margin-bottom: var(--spacing-columns);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 0 auto; */
}

.tema_meta p:first-line {
  font-weight: var(--font-weight-bold-xl);
}

.tema_link {
  line-height: var(--line-height-large);
  align-items: center;
  display: inline-block;
}

/* temagalleri --------- (desktopfirst - fejl) */

.tema_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.tema_venstre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.tema_venstre img {
  width: 80%;
}

/* .tema_venstre h2 {
  font-size: 2rem;
  line-height: 1.5;
} */

.tema_højre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.tema_højre img {
  width: 80%;
  max-width: 600px;
  /* border-radius: 20px; */
}

@media (max-width: 768px) {
  .tema_galleri {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .tema_højre img {
    width: 100%;
  }

  .tema_venstre img {
    width: 100%;
  }

  /* .tema_venstre {
    padding: 2rem;
  } */
}

/* Proces -------------- beskrivelse */

.proces_grid-container {
  padding: var(--spacing-columns);
  margin-top: var(--spacing-2xxl);
  margin-bottom: var(--spacing-xl);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .proces_grid-container {
    margin-top: var(--spacing-columns);
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }
}

/* -------------------- Galleri grid_1-1 */

.galler_grid_1-1 {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  height: auto;
  width: 100%;
}

.galler_grid_1-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .galler_grid_1-1 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    height: auto;
  }

  .galler_grid_1-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* ---------------------- Næste projekt */

.next {
  height: var(--spacing-xxl);
  padding: var(--spacing-columns);
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------------------------------ // 
Site: About */

/* --------------------------
Container */

.about_section {
  padding: 10px;
}

@media (min-width: 768px) {
  .about_section {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    width: 100%;
    padding: 20px;
  }

  .about_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
