/* --------------------------------------------------------- 
Reset */

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* --------------------------------------------------------- 
Random variabler */

.hide {
  display: none;
}

.lille_pil {
  width: 10px;
  height: auto;
  margin-bottom: var(--spacing-sm);
}

.large_spacing {
  padding: 1rem;
}

@media (min-width: 768px) {
  .large_spacing {
    padding: 2rem;
  }
}

.single_img {
  padding-top: var(--spacing-xs);
}

@media (min-width: 768px) {
  .single_img {
    padding-top: var(--spacing-columns);
    padding-bottom: var(--spacing-xs);
  }
}

.black-line {
  height: 1px; /* Thickness of the line */
  background-color: var(--primary-color);
  margin-top: var(--spacing-xl);
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
}

/* --------------------------------------------------------- 
// Footer, Header + knapper */

header {
  width: 100%;
  height: 60px;
  position: fixed;
  padding: var(--spacing-xs);
  top: 0;
  left: 0;
  z-index: 5000;
  align-items: center;
}

@media (min-width: 768px) {
  header {
    padding: var(--spacing-columns);
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  position: relative;
}

.clean-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-columns);
}

.footer-item {
  text-align: center;
}

.filter_galleri {
  margin-top: var(--spacing-xxl);
  text-align: center;
}

@media (min-width: 768px) {
  .filter_galleri {
    margin-top: var(--spacing-2xxl);
  }
}

/* ------------------------------------------------------------------------ // 
Site: Home */

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-columns);
  padding: var(--spacing-xs);
}

.portfolio-item {
  position: relative;
  text-align: left;
  overflow: hidden;
}

.portfolio-item img {
  height: 500px;
  width: auto;
  display: block;
}

.portfolio-grid .portfolio-item p.beskrivelse {
  position: absolute;
  /* z-index: 10; */
}

@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-columns);
    padding: var(--spacing-columns);
  }

  .portfolio-item img {
    width: 100%;
    height: auto;
  }
}

/* ------------------------------------------------------------------------ // 
Site: 01 Website */

.heroimage {
  height: 100%;
}

.case_container {
  padding: var(--spacing-xs);
  margin-top: var(--spacing-xxl);
}

@media (min-width: 768px) {
  .case_container {
    padding: var(--spacing-columns);
  }
}

/* inaktiv image contwiner */

/* .colored_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.colored_container img {
  width: 100%;
  max-width: 100%; 
  height: auto; 
  object-fit: cover;
}

@media (min-width: 768px) {
  .colored_container img {
    width: 50%;
    padding: var(--spacing-columns);
  }
} */

/* ---------------- Hero galleri */

.hero_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.hero_venstre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color-04);
  text-align: center;
  color: var(--accent-color-03);
}

.hero_venstre img {
  width: 80%;
}

.hero_højre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-color);
}

.hero_højre img {
  width: 80%;
  max-width: 550px;
}

@media (max-width: 768px) {
  .hero_galleri {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .hero_venstre {
    padding: 2rem;
  }
}

/* -------------------- Temabeskrivelse */
.tema_intro {
  text-align: left;
}

.tema_foldud {
  padding: var(--spacing-columns);
  margin-top: var(--spacing-columns);
  margin-bottom: var(--spacing-xl);
}

@media (min-width: 768px) {
  .tema_foldud {
    margin-top: var(--spacing-xl);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
  }

  .tema_løsning {
    max-width: 700px;
  }
}

.tema_meta {
  margin-bottom: var(--spacing-columns);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 0 auto; */
}

.tema_meta p:first-line {
  font-weight: var(--font-weight-bold-xl);
}

.tema_link {
  line-height: var(--line-height-large);
  align-items: center;
  display: inline-block;
}

/* ---------------- Proces galleri */

.proces_galleri {
  display: grid;
  gap: var(--spacing-xs);
  grid-template-columns: 1fr 1fr;
  height: 40vh;
  padding-top: var(--spacing-xs);
}

@media (min-width: 768px) {
  .proces_galleri {
    height: 100vh;
    gap: var(--spacing-columns);
    /* margin-bottom: var(--spacing-columns); */
  }

  .proces_galleri + .proces_galleri {
    padding-top: var(--spacing-columns);
  }
}

.venstre,
.højre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.venstre {
  text-align: center;
}

.højre img {
  width: 80%; /* Adjust as needed */
  max-width: 500px; /* Set max width for image */
  border-radius: 20px;
}

.venstre img {
  width: 80%;
  border-radius: 20px;
}

.proces_grid-container {
  padding: var(--spacing-columns);
  margin-top: var(--spacing-lg); /* Over text column */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .proces_grid-container {
    margin-top: var(--spacing-columns);
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }
}

/* -------------------- Galleri grid_1-1 */

.galler_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  width: 100%;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

.galler_grid_1-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .galler_grid_1-1 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-columns);
    /* max-width: 1200px; */
    height: auto;
    margin-bottom: var(--spacing-columns);
  }
}

/* ---------------------- Næste projekt */

.next {
  height: var(--spacing-xxl);
  padding: var(--spacing-columns);
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------------------------------ // 
Site: Animation */

/* Tekst kapitel */

.kapitelgrid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  /* padding-left: var(--spacing-xs); */
}

.kapitelgrid-item.content {
  padding: var(--spacing-xs);
  text-align: left;
  max-width: 660px;
}

/* Desktop Styles */
@media (min-width: 768px) {
  .kapitelgrid-container {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-columns);
    align-items: start;
  }

  .kapitelgrid-item.content {
    max-width: 660px;
  }
}

/* Sketch galleri */

.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: var(--spacing-xs);
  gap: var(--spacing-xs);
  width: 100%;
}

.gallery-item {
  width: 100%;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block; /* Remove inline gaps */
  object-fit: cover;
  /* border-radius: 4px;  */
}

@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--spacing-columns);
  }
}

/* 4 billeder-galleri */

/* Image Fourths Container */
.image-fourths-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-columns);
  padding: var(--spacing-xs);
}

/* Image Items */
.image-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-item img {
  width: 100%; /* Ensure images scale to fit their container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners */
  object-fit: cover; /* Ensure images fill the container proportionally */
}

/* Desktop View */
@media (min-width: 768px) {
  .image-fourths-container {
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 1rem; /* Increase the gap for larger screens */
  }
}

/* Lyd ---------------------- */

/* Container for the gallery */
.infogalleri_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

/* Styling for each audio item */
.lyd {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--background-color);
  padding: var(--spacing-columns);
  border-radius: 8px; /* Rounded corners */
}

/* Hide the default audio controls */
audio {
  display: none;
}

/* ---------------------------- third_images findes på driftpage */

/* .grid-item {
  width: 100%;
  height: 100%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* ------------------------------------------------------------------------ // 
Site: About */

.lottie-section {
  background-color: var(--neutral-color);
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent content overflow */
}

.lottie-container,
.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-columns);
}

.lottie-container dotlottie-player {
  height: auto;
  max-height: 100%;
}

@media (min-width: 768px) {
  .lottie-container dotlottie-player {
    width: 100%; /* Make the Lottie player take up more space on larger screens */
    height: 100vh; /* Slightly larger height on big screens */
  }
}

/* Tekstafsnit */

.portræt-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 1.5rem;
}

.portræt-item.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* .portræt-item.content {
  font-family: Arial, sans-serif;
  text-align: left;
} */

.portræt-item.content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

/* .portræt-item.content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
} */

/* .read-more {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
} */

.read-more:hover {
  text-decoration: underline;
}

/* Desktop Styles */
@media screen and (min-width: 768px) {
  .portræt-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }

  /* .portræt-item.content h2 {
    font-size: 2rem;
  } */
  /* 
  .portræt-item.content p {
    font-size: 1.1rem;
  } */
}
