/* Globale Variabler */

:root {
  /* Colors */
  --primary-color: black;
  --background-color: white;

  --accent-color-01: #8d1684;
  --accent-color-02: #e0cae4;

  --accent-color-03: #fa54d9;
  --accent-color-04: #e2e4c6;

  --accent-color-05: #dd8461;
  --accent-color-06: #ccebf5;

  --accent-color-07: #181caf;
  --accent-color-08: #efcbc4;

  --accent-color-09: #d45de5;
  --accent-color-10: #f3dac8;

  /* Font Sizes */
  --font-size-mob-small: 0.875rem;
  --font-size-mob-base: 0.9rem;
  --font-size-mob-medium: 1.3rem;
  --font-size-mob-large: 1.4rem;
  --font-size-mob-xl: 2rem;
  --font-size-mob-xxl: 2.5rem;

  --font-size-desk-small: 0.9rem;
  --font-size-desk-base: 1.7rem;
  --font-size-desk-large: 2.5rem;
  --font-size-desk-xl: 3rem;
  --font-size-desk-xl: 3.5rem;

  /* Line Heights */
  --line-height-small: 1.4rem;
  --line-height-base: 1.6rem;
  --line-height-large: 1.8rem;

  /* Spacing */
  --spacing-xs: 0.2rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-columns: 1.25rem; /*20px*/
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */

  --spacing-button-s: 0.6rem;
  --spacing-button-m: 1.1rem;
  --spacing-button-l: 1.4rem;

  /* Borders */
  --border-radius: 8px;

  /* Fonts */
  --font-primary: "Helvetica", sans-serif;
  --font-secondary: "Helvetica", sans-serif;

  /* font weight */
  --font-weight-thin: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-bold-xl: 900;
}

/* ---------------------------------------------------------------- */

/* @media (min-width: 768px) {
} */

/* Moduler all */
body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: var(--primary-color);
  line-height: var(--line-height-base);
  margin: 0;
  padding: 0;
}

/* Moduler Mob */

h1 {
  font-size: var(--font-size-mob-xxl);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-large);
  color: var(--primary-color);
  margin-bottom: var(--spacing-md);
}

h2 {
  font-size: var(--font-size-mob-xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
  color: var(--primary-color);
  margin-bottom: var(--spacing-xs);
}

h3 {
  font-size: var(--font-size-mob-large);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-medium);
  color: var(--primary-color);
  margin-bottom: var(--spacing-xs);
  margin-top: var(--spacing-sm);
}

p {
  font-size: var(--font-size-mob-small);
  line-height: var(--line-height-medium);
  margin-bottom: var(--spacing-sm);
}

@media (min-width: 768px) {
  p {
    font-size: var(--font-size-desk-medium);
    line-height: var(--line-height-medium);
    margin-bottom: var(--spacing-sm);
  }
}

/* header */
nav li {
  list-style: none;
  font-size: var(--font-size-mob-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
  color: var(--primary-color);
  margin-bottom: var(--spacing-xs);
}

@media (min-width: 768px) {
  nav li {
    font-size: var(--font-size-mob-large);
  }
}

/* Moduler Desktop */

header {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.filter-btn {
  display: inline-block;
  padding: var(--spacing-button-s) var(--spacing-button-m);
  font-size: var(--font-size-mob-small);
  color: var(--primary-color);
  background-color: var(--background-color);
  border: 1px solid #ccc;
  transition: background-color 0.3s, color 0.3s;
  border-radius: var(--spacing-sm);
  cursor: pointer;
}

.filter-btn.active {
  background-color: var(--primary-color);
  color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  transition: color 0.3s ease;
  color: rgb(204, 204, 204);
  animation: softWave 1s ease-in-out infinite;
  text-decoration: underline;
  text-decoration-thickness: 1.6px;
  text-decoration-color: #ccc;
  text-underline-offset: 6px;
}
