/* ------------------ // MOBILSITE_page //------------------  */

/* hele framen */

.case_container {
  padding: 20px;
}

/* Sektion 1: Introduktion: Titel og hero */
.tema_intro {
  padding-top: 8rem;
  text-align: center;
}

/* Sektion 2: Tema introduktion: meta data og beskrivelse */

.tema {
  margin-left: 5px;
  padding-top: 4rem;
  line-height: 1.6;
  gap: 2rem;
}

@media (min-width: 768px) {
  .tema {
    padding-left: 2.6rem;
    margin: 0 auto;
    max-width: 1200px;
  }
}

/* tema intro */
.tema_foldud {
  margin-left: 5px;
  padding-top: 1rem;
  padding-bottom: 1.8rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .tema_foldud {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
    padding-bottom: 4rem;
    max-width: 1200px;
  }
}

/* tema meta data */
.tema_meta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

.tema_meta p {
  margin: 0 0 1rem;
  line-height: 1.6;
}
.tema_meta p:first-line {
  font-weight: bold;
  color: #000;
}

/* Tema link */

.tema_link {
  align-items: center;
  display: inline-block; /* Ensures the link has space around it */
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color: black;
}

/* Link animation  */

@keyframes softWave {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -8px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* --------------------- */

/* metabeskrivelse2 */

.meta2_grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .meta2_grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
  }
}
